<div class="container py-5">
  
  <div class="row">
    <div class="card">
      <form class="blog-post" autocomplete="off">
        <h2 class="my-4 text-center card-title">Create a New Blog Entry</h2>
        <div class="card-body">
          <div class="mb-3">
            <label class="form-label">Title:</label>
            <input type="text" class="form-control" id="blog-title-typed">
          </div>

          <div class="mb-3">
            <label class="form-label">Your Entry:</label>
            <textarea type="text" class="form-control" id="blog-content-typed" rows="3"></textarea>
          </div>
          
          <button type="submit" class="btn btn-primary">Post blog</button>
        </div>
    </form>
    </div>
  </div>
</div>

<script src="/js/blogpost.js"></script>