<section class="vh-100 bg-warning text-dark p-5 text-center" id="login">
<div class="container py-5">
    <h1 class="mb-4">Login</h1>
    <div class="row d-flex align justify-content-center h-100">
    <div class="card" style="max-width: 40rem;">
        <div class="card-body">

        <!-- Email input -->
        <div class="mb-4 mt-4">
            <!-- <label for="formControlInput" class="form-label">Email address</label> -->
            <input type="email" class="form-control login-form shadow p-3 mb-5 bg-body rounded" placeholder="Enter your email address">
        </div>

        <!-- Password input -->
        <div class="mb-4">
            <!-- <label for="formControlInput" class="form-label">Password</label> -->
            <input type="email" class="form-control login-form shadow p-3 mb-5 bg-body rounded" placeholder="Enter password">
            <button class="mt-2 btn btn-primary btn-lg">Sign In</button>
        </div>
        
        <div class="d-flex align-items-center justify-content-center pb-4 pt-4">
            <p class="mb-0 me-2">Don't have an account?</p>
            <a href="/signup" class="btn btn-outline-danger" >Sign Up</a>
        </div>
        </div>
    </div>
    </div>
</div>
</section>

<script src="./js/login.js"></script>